#mltp-calendar-wrapper {
  --fc-background-past: hsl(0, 0%, 70%, 25%);
  --fc-background-past-weekend: hsl(0, 0%, 60%, 25%);
  --fc-background-weekend: hsl(0, 0%, 80%, 25%);
  --fc-background-today: hsl(60, 75%, 75%, 25%);

  --mltp-event-font-size: 1.1em;
  --mltp-event-row-height: 3.6em;

  .fc-toolbar-title {
    text-transform: capitalize;
    display: inline-block;
    // padding-right: 0.25em;
  }
  // .fc-toolbar-chunk > .fc-button,
  // .fc-toolbar-chunk > .fc-button-group {
  //   margin-top: -0.7em;
  // }

  .fc-timeline-slot.fc-day-sun,
  .fc-timeline-slot.fc-day-sat {
    background-color: var(--fc-background-weekend);
  }
  .fc-timeline-slot.fc-day-past {
    background-color: var(--fc-background-past);
  }
  .fc-timeline-slot.fc-day-past.fc-day-sun,
  .fc-timeline-slot.fc-day-past.fc-day-sat {
    background-color: var(--fc-background-past-weekend);
  }
  .fc-timeline-slot.fc-day-today {
    background-color: var(--fc-background-today);
  }

  .dashicons.spin {
     animation: dashicons-spin 1s infinite;
     animation-timing-function: linear;
     opacity: 50%;
  }

  .fc-timeline-event-harness {
    margin-left: 1vw;
    margin-right: -1vw;
  }
  // .fc-timeline-event-harness:not(:has( > .fc-event-start)) {
  //   margin-left: 0;
  // }
  // .fc-timeline-event-harness:not(:has( > .fc-event-end)) {
  //   margin-right: 0;
  // }
  .fc-event-start {
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
  }
  .fc-event-end {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }
  .fc-event:not(.fc-event-start) {
    border-left: none;
  }
  .fc-event:not(.fc-event-end) {
    border-right: none;
  }
  .fc-datagrid-cell-frame,
  .fc-timeline-lane-frame {
    min-height: 2.5rem;
  }
  .fc-scrollgrid-sync-table .fc-event,
  .fc-scrollgrid-sync-table .fc-event {
    font-size: 1rem;
    line-height: 120%;
  }
  .fc-scrollgrid-sync-table .fc-event-start .fc-event-title-container:before {
    width: 1.5em;
    font-size: 0.9em;
  }

  .fc-timeline-event-harness {
    margin-top: 0.3rem;

    .fc-event:not(.fc-event-end) {
      margin-right: 1vw;
    }
    .fc-event:not(.fc-event-start) {
      margin-left: -1vw;
    }

    .fc-scrollgrid-sync-table .fc-event,
    .fc-scrollgrid-sync-table  tr:first-of-type() .fc-event {
      font-size: 0.9rem;
      line-height: 120%;
    }

    // .fc-datagrid-body tr:nth-of-type(-n+6):not(:first-of-type) .fc-datagrid-cell-frame,
    // .fc-scrollgrid-sync-table tr:nth-of-type(-n+6):not(:first-of-type) .fc-timeline-lane-frame {
    //   min-height: 3.6rem;
    // }
    // .fc-scrollgrid-sync-table  tr:nth-of-type(-n+6):not(:first-of-type) .fc-event {
    //   background: yellow;
    //   font-size: 2rem;
    //   /* line-height: 2rem;*/
    // }
    .fc-event {
        // font-size: var(--mltp-event-font-size);
        // line-height: 2em;
        margin: 0.1em;
    // }
    //
    // .fc-timeline-event {
      // border-radius: 1.5em;
      // padding-left: 0.5em;
    // }
    // .fc-h-event {
      color: var(--mltp-color-undefined);
      border-color: hsl(0, 0%, 75%);
      background-color: var(--mltp-background-undefined);

      .fc-event-main {
        color: inherit;
      }

      .fc-event-title-container {
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow: hidden;
        scrollbar-width: none !important;  /* Firefox */
        -ms-overflow-style: none !important;  /* IE and Edge */
      }

    }

    .fc-timeline-event:hover {
      transform: scale(1.2);
      transition: ease-in, 250ms;
      z-index: 10;
    }

    .status-paid-some {
      color: var(--mltp-color-partial);
      background-color: var(--mltp-background-partial);
    }
    .status-confirmed,
    .status-paid-deposit {
      color: var(--mltp-color-confirmed);
      background-color: var(--mltp-background-confirmed);
    }
    .status-paid-all {
      color: var(--mltp-color-paid);
      background-color: var(--mltp-background-paid);
    }

    .fc-event-start[class*=" origin-"] .fc-event-title.fc-sticky {
      margin-left: 0.2rem;
      position: relative;
    }
    /* .fc-timeline-event-harness .fc-timeline-event:before,*/
    .fc-event-start {
      .fc-event-title-container:before {
        /*  content: 'B';*/
        display: inline-block;
        // margin-right: 0.25em;
        margin-left: -0.5em;
        background: white;
        border-radius: 1em;
        text-align: center;
        font-weight: 900;
        opacity: 50%;
      }
      .fc-event-title-container {
        white-space: nowrap;
        // overflow-y: hidden;
        margin-left: 0;
      }
    }

    // .fc-event-start.origin-hoteldruid .fc-event-title-container:before { content: 'HD'; }
    .fc-event-start.origin-lodgify .fc-event-title-container:before { content: 'L'; }
    .fc-event-start.origin-woocommerce .fc-event-title-container:before { content: 'W'; }

    .fc-event-start.origin-airbnb .fc-event-title-container:before { content: 'Air'; }
    .fc-event-start.origin-abritel .fc-event-title-container:before { content: 'Abr'; }
    .fc-event-start.origin-booking .fc-event-title-container:before { content: 'B.'; }
    .fc-event-start.origin-expedia .fc-event-title-container:before { content: 'E'; }
    .fc-event-start.origin-hbook .fc-event-title-container:before { content: 'HB'; }

  }

  @keyframes dashicons-spin {
     0% {
        transform: rotate( 0deg );
     }
     100% {
        transform: rotate( 360deg );
     }
  }

}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-content table {
  min-width: 15rem;
}

.ui-dialog-content th {
  text-align: left;
}

.modal-buttons {
  text-align: center;
}
.modal-buttons li {
  display: inline-block;
  text-align: left;
  margin: 0.25em;
}
.modal-buttons .dashicons {
  margin-top: 0.2rem;
  margin-left: -0.2rem;
}
