#mltp-calendar-wrapper {
  --fc-background-past: hsl(0, 0%, 70%, 25%);
  --fc-background-past-weekend: hsl(0, 0%, 60%, 25%);
  --fc-background-weekend: hsl(0, 0%, 80%, 25%);
  --fc-background-today: hsl(60, 75%, 75%, 25%);

  --mltp-event-font-size: 1.1em;
  --mltp-event-row-height: 3.6em;

  .fc-toolbar-title {
    text-transform: capitalize;
    display: inline-block;
    // padding-right: 0.25em;
  }
  // .fc-toolbar-chunk > .fc-button,
  // .fc-toolbar-chunk > .fc-button-group {
  //   margin-top: -0.7em;
  // }

  .fc-timeline-slot.fc-day-sun,
  .fc-timeline-slot.fc-day-sat {
    background-color: var(--fc-background-weekend);
  }
  .fc-timeline-slot.fc-day-past {
    background-color: var(--fc-background-past);
  }
  .fc-timeline-slot.fc-day-past.fc-day-sun,
  .fc-timeline-slot.fc-day-past.fc-day-sat {
    background-color: var(--fc-background-past-weekend);
  }
  .fc-timeline-slot.fc-day-today {
    background-color: var(--fc-background-today);
  }

  .dashicons.spin {
     animation: dashicons-spin 1s infinite;
     animation-timing-function: linear;
     opacity: 50%;
  }

  .fc-timeline-event-harness {
    margin-left: 1vw;
    margin-right: -1vw;
  }
  // .fc-timeline-event-harness:not(:has( > .fc-event-start)) {
  //   margin-left: 0;
  // }
  // .fc-timeline-event-harness:not(:has( > .fc-event-end)) {
  //   margin-right: 0;
  // }
  .fc-event-start {
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
  }
  .fc-event-end {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }
  .fc-event:not(.fc-event-start) {
    border-left: none;
  }
  .fc-event:not(.fc-event-end) {
    border-right: none;
  }
  .fc-datagrid-cell-frame,
  .fc-timeline-lane-frame {
    min-height: 2.5rem;
  }
  .fc-scrollgrid-sync-table .fc-event,
  .fc-scrollgrid-sync-table .fc-event {
    font-size: 1rem;
    line-height: 120%;
  }
  .fc-scrollgrid-sync-table .fc-event-start .fc-event-title-container:before {
    width: 1.5em;
    font-size: 0.9em;
  }

  .fc-timeline-event-harness {
    margin-top: 0.3rem;

    .fc-event:not(.fc-event-end) {
      margin-right: 1vw;
    }
    .fc-event:not(.fc-event-start) {
      margin-left: -1vw;
    }

    .fc-scrollgrid-sync-table .fc-event,
    .fc-scrollgrid-sync-table  tr:first-of-type() .fc-event {
      font-size: 0.9rem;
      line-height: 120%;
    }

    // .fc-datagrid-body tr:nth-of-type(-n+6):not(:first-of-type) .fc-datagrid-cell-frame,
    // .fc-scrollgrid-sync-table tr:nth-of-type(-n+6):not(:first-of-type) .fc-timeline-lane-frame {
    //   min-height: 3.6rem;
    // }
    // .fc-scrollgrid-sync-table  tr:nth-of-type(-n+6):not(:first-of-type) .fc-event {
    //   background: yellow;
    //   font-size: 2rem;
    //   /* line-height: 2rem;*/
    // }
    .fc-event {
        // font-size: var(--mltp-event-font-size);
        // line-height: 2em;
        margin: 0.1em;
    // }
    //
    // .fc-timeline-event {
      // border-radius: 1.5em;
      // padding-left: 0.5em;
    // }
    // .fc-h-event {
      color: var(--mltp-color-undefined);
      border-color: hsl(0, 0%, 75%);
      background-color: var(--mltp-background-undefined);

      .fc-event-main {
        color: inherit;
      }

      .fc-event-title-container {
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow: hidden;
        scrollbar-width: none !important;  /* Firefox */
        -ms-overflow-style: none !important;  /* IE and Edge */
      }

    }

    .fc-timeline-event:hover {
      transform: scale(1.2);
      transition: ease-in, 250ms;
      z-index: 10;
    }

    .status-closed-period {
      color: var(--mltp-color-closed);
      background-color: var(--mltp-background-closed-period);
      opacity: 50%;
    }

    .status-confirmed,
    .status-paid-some {
      color: var(--mltp-color-confirmed);
      background-color: var(--mltp-background-confirmed);
    }
    .status-external,
    .status-paid-external,
    .status-paid-deposit {
      color: var(--mltp-color-deposit);
      background-color: var(--mltp-background-deposit);
    }
    .status-paid-all {
      color: var(--mltp-color-paid);
      background-color: var(--mltp-background-paid);
    }

    .status-due {
      color: var(--mltp-color-due);
      background-color: var(--mltp-background-due);
    }

    .status-overdue {
      color: var(--mltp-color-overdue);
      background-color: var(--mltp-background-overdue);
    }

    // .status-paid-all {
    //   color: var(--mltp-color-paid);
    //   background-color: var(--mltp-background-paid);
    // }

    .fc-event-start[class*=" origin-"] .fc-event-title.fc-sticky {
      margin-left: 0.2rem;
      position: relative;
    }
    /* .fc-timeline-event-harness .fc-timeline-event:before,*/
    .fc-event-start {
      .fc-event-title-container:before {
        /*  content: 'B';*/
        display: inline-block;
        margin-right: 0.25em;
        margin-left: -0.5em;
        background: white;
        border-radius: 1em;
        text-align: center;
        font-weight: 900;
        opacity: 50%;
        float: left;
        overflow: hidden;
      }
      .fc-event-title-container {
        white-space: nowrap;
        // overflow-y: hidden;
        margin-left: 0;
      }
    }

    .fc-event-start .fc-event-title-container::before {
      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
    }

    // .fc-event-start.origin-hoteldruid .fc-event-title-container:before { content: 'HD'; }
    // .fc-event-start.origin-lodgify .fc-event-title-container:before { content: 'L'; }
    .fc-event-start.origin-expedia .fc-event-title-container:before { content: 'E'; }
    .fc-event-start.origin-hbook .fc-event-title-container:before { content: 'HB'; }

    .fc-event-start.origin-bookingcom .fc-event-title-container::before {
      content: ' ';
      background-image: url('http://gites-mosaiques.com/wp-content/plugins/multipass/images/bookingcom.svg');
    }

    .fc-event-start.origin-lodgify .fc-event-title-container::before {
      content: ' ';
      background-image: url('http://gites-mosaiques.com/wp-content/plugins/multipass/images/lodgify-color.png');
    }

    .fc-event-start.origin-airbnb .fc-event-title-container::before {
      content: ' ';
      background-image: url('http://gites-mosaiques.com/wp-content/plugins/multipass/images/airbnb.png');
    }

    .fc-event-start.origin-woocommerce .fc-event-title-container::before {
      content: 'W';
      color: transparent;
      background-image: url('http://gites-mosaiques.com/wp-content/plugins/multipass/images/woo.png');
      background-size: 75%;
    }

    .fc-event-start.origin-abritel .fc-event-title-container::before,
    .fc-event-start.origin-homeaway .fc-event-title-container::before {
      content: ' ';
      background-image: url('http://gites-mosaiques.com/wp-content/plugins/multipass/images/homeaway.png');
      background-size: 60%;
    }

  }

  @keyframes dashicons-spin {
     0% {
        transform: rotate( 0deg );
     }
     100% {
        transform: rotate( 360deg );
     }
  }

}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-content table {
  min-width: 15rem;
}

.ui-dialog-content th {
  text-align: left;
}

.modal-buttons {
  text-align: center;
}
.modal-buttons li {
  display: inline-block;
  text-align: left;
  margin: 0.25em;
}
.modal-buttons .dashicons {
  margin-top: 0.2rem;
  margin-left: -0.2rem;
}

.modal-summary {
  td, tr {
    vertical-align: top
  }

  td .actions,
  td .amount {
    float: right;
  }

  td .actions ,
  td .actions > a {
    margin: 0 0.22em;
    text-decoration: none;
  }

  td > *:first-child {
    margin-top: 0;
  }
  td > *:lasst-child {
    margin-bottom: 0;
  }
}
