/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
**/

:root {
  --mltp-color-undefined: hsl(0, 0%, 25%);
  --mltp-background-undefined: hsl(0, 0%, 75%);
  --mltp-color-overdue: hsl(0, 100%, 25%);
  --mltp-background-overdue: hsl(0, 100%, 75%);
  --mltp-color-due: hsl(45, 100%, 25%);
  --mltp-background-due: hsl(45, 100%, 50%);
  --mltp-color-confirmed: hsl(60, 100%, 25%);
  --mltp-background-confirmed: hsl(60, 75%, 75%);
  --mltp-color-deposit: hsl(75, 100%, 25%);
  --mltp-background-deposit: hsl(75, 100%, 75%);
  --mltp-color-paid: hsl(90, 80%, 25%);
  --mltp-background-paid: hsl(80, 80%, 50%);
  --mltp-color-closed: hsl(0, 0%, 25%, 70%);
  --mltp-background-closed: hsl(0, 0%, 80%, 40%);
}
.post-php.post-type-prestation {
  .rwmb-group-wrapper .rwmb-clone::after {
    padding-bottom: 0;
    margin-bottom: 0px;
  }

  .rwmb-group-clone:not(:first-child) label {
    display: none;
  }
}

.rwmb-field.inline > .rwmb-input > div,
.rwmb-field.inline > .rwmb-input > a,
.rwmb-field.inline .rwmb-clone > div
{
  display: inline-block;
  margin-right: 1em;
}
.rwmb-field.inline > .rwmb-input > div,
.rwmb-field.inline .rwmb-clone > div
{
  vertical-align: top;
  margin-top: 0;
  padding-top: 0;
}
.rwmb-field.inline > .rwmb-input > a.add-clone {
  vertical-align: bottom;
}
.rwmb-field.inline  .rwmb-field > .rwmb-label {
  width: initial;
}
.rwmb-field.inline .rwmb-clone,
.rwmb-field.inline .rwmb-clone > .rwmb-field {
  margin-bottom: 6px;
}
.rwmb-field.inline .rwmb-clone:after {
  display: none;
}
.rwmb-field.inline .rwmb-clone > a > span {
  margin-top: 1em;
}
.rwmb-field.inline .rwmb-clone:not(:first-child) > .rwmb-field > .rwmb-label {
  display: none;
}
#prestation-summary .rwmb-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6px;
}
#prestation-summary .rwmb-field.total,
#prestation-summary .rwmb-field.balance {
  font-weight: bold;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 6px 0 3px;
}
#prestation-summary .rwmb-field .rwmb-input {
  text-align: right;
  width: auto;
}

@media screen and (min-width: 768px) {
  :root {
    --low-width: 7.5%;
    --low-gap: calc( (100% - 12 * var(--low-width) ) / 11 );
  }
  .low-gap .rwmb-column {
    margin-right: 0.9%;
  }
  .low-gap .rwmb-column-1 {
    width: calc(1 * var(--low-width) + 0 * var(--low-gap));
  }
  .low-gap .rwmb-column-2 {
    width: calc(2 * var(--low-width) + 1 * var(--low-gap));
  }
  .low-gap .rwmb-column-3 {
    width: calc(3 * var(--low-width) + 2 * var(--low-gap));
  }
}

@media screen and (max-width: 960px) {
  :root {
    --low-width: 15%;
    --low-gap: calc( (100% - 12 * var(--low-width) ) / 11 );
  }
  .post-php.post-type-prestation .rwmb-group-clone:not(:first-child) label {
    display: block;
  }

}

#prestation-summary .rwmb-field.status {
  /* display: flex;
  flex-wrap: wrap;*/
  grid-template-columns: 1fr 3fr;

  margin-top: 1em;
  margin-bottom: 0;
}
#prestation-summary .rwmb-field.status .rwmb-input {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 0.5em;
  left: 0;
  right: 0;
  width: 100%;
}

.prestation-status-box,
.column-status a {
  border-radius: 0.25em;
  padding: 0.5em 1em;
  color: #777;
  background: #e5e5e5;
  width: auto;
}

.column-contact a,
.column-status a {
  white-space: nowrap;
}
.column-deposit,
.column-total,
.column-discount,
.column-paid,
.column-balance
{
  width: 5em;
  white-space: nowrap;
}

.prestation-status-box.status-pending,
.column-status a[href*="prestation-status=pending"],
.prestation-status-box.status-unpaid,
.column-status a[href*="prestation-status=unpaid"]
{
  --hue: 0;
  color: var(--mltp-color-overdue);
  background: var(--mltp-background-overdue);
}
.prestation-status-box.status-partial,
.column-status a[href*="prestation-status=partial"] {
  color: var(--mltp-color-due);
  background: var(--mltp-background-due);
}

.prestation-status-box.status-deposit,
.column-status a[href*="prestation-status=deposit"],
.prestation-status-box.status-on-hold,
.column-status a[href*="prestation-status=on-hold"] {
  color: var(--mltp-color-deposit);
  background: var(--mltp-background-deposit);
}
.prestation-status-box.status-free,
.column-status a[href*="prestation-status=free"],
.prestation-status-box.status-paid,
.column-status a[href*="prestation-status=paid"] {
  color: var(--mltp-color-paid);
  background: var(--mltp-background-paid);
}

.wp-list-table.multipass-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  thead th {
    border-bottom: solid 1px #ccc;
  }
  tfoot th {
    border-top: solid 1px #ccc;
  }

  .column,
  .column {
    padding: 0.5em;
  }

  .column:first-child,
  .column:first-child {
    padding-left: 0;
  }

  .column:last-child,
  .column:last-child {
    padding-right: 0;
  }


  .column {
    width: auto;
    text-align: left;
  }

  .column-subtotal,
  .column-discount,
  .column-refunded,
  .column-total,
  .column-paid,
  .column-actions {
    width: 10%;
    text-align: right;
  }
  .column.date_time {
    width: 8em;
    white-space: nowrap;
  }
  .column.date {
    width: 5em;
    white-space: nowrap;
  }

  .column-actions {
    width: 1%;
    /* white-space: nowrap; */
    padding-left: 1em;
    border: none;
    color: #999;
  }
}
