/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#prestation-balance .rwmb-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#prestation-balance .rwmb-field .rwmb-input {
  text-align: right;
}

.prestation-status-box,
.column-status a {
  border-radius: 0.25em;
  padding: 0.5em 1em;
  color: #777;
  background: #e5e5e5;
}

.prestation-status-box.status-unpaid,
.column-status a[href*="prestation-status=unpaid"]
{
  color: #993333;
  background: pink;
}
.prestation-status-box.status-deposit,
.column-status a[href*="prestation-status=deposit"],
.prestation-status-box.status-partiall-paid,
.column-status a[href*="prestation-status=partial"] {
  color: #94660c;
  background: #ffcc99;
}
.prestation-status-box.status-paid,
.column-status a[href*="prestation-status=paid"] {
  color: #5b841b;
  background: #c6e1c6;
}
