/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#prestation-balance .rwmb-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#prestation-balance .rwmb-field .rwmb-input {
  text-align: right;
}
